@{
    ViewData["Title"] = "Quản lý";
    var listShoe = ViewBag.Shoes as IEnumerable<Shoe>;
    var listColor = ViewBag.Color as IEnumerable<Color>;

}
<button class="btn btn-success mb-2" data-toggle="modal" data-target="#exampleModal">Thêm mới</button>
<table class="table text-center">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Mã sản phẩm</th>
            <th></th>
            <th scope="col">Tên sản phấm</th>
            <th scope="col">Giá</th>
            <th scope="col">Hành động</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in listShoe)
        {
            <tr>
                <th scope="row">@item.Id</th>
                <td><img src="@item.Image" style="width: 50px" /></td>
                <td>@item.Name</td>
                <td>@item.Price</td>
                <td>
                    <a asp-action="Edit" asp-controller="Dashboard" asp-route-id="@item.Id" class="btn btn-warning">Chỉnh sửa</a>
                    <a asp-action="Delete" asp-controller="Dashboard" asp-route-id="@item.Id" class="btn btn-danger">Xoá</a>
                </td>
            </tr>
        }


    </tbody>
</table>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <form asp-action="Create" asp-controller="Dashboard" method='post'>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Thêm mới sản phẩm</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="form-group row">
                        <label for="staticEmail" class="col-sm-2 col-form-label">Tên</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="Name">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-2 col-form-label">Giá</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control"  name="Price">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-2 col-form-label">Ảnh</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control"  name="Image">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Màu</label>
                        <div class=" col-sm-10">

                            <select class="form-control" name="Color">
                                @foreach (var item in listColor)
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }

                            </select>
                        </div>

                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    <button type="submit" class="btn btn-primary">Lưu</button>
                </div>
            </div>
        </div>
    </form>
</div>